/*
body:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(0,0,0,0), rgba(255,255,255,.8));
}*/

/*
.slideshow {
	max-width: 1200px;
	position: relative;
	margin: auto;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3 px 0;	
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);	
}

.mySlides {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 30px;
}

.numbertext {
	color: #000;
	font-size: 20px;
	padding: 8px 12px;
	position: relative;
}

.text {
	color: #f2f2f2;
	font-size: 20px;
	padding: 8px 12px;
	position: relative;
}

.spot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;	
}

.active, .spot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s; 
	animation-name: fade;
	animation-duration: 1s;	
}

@-webkit-keyframes fade {
	from{opacity:.4}
	to{opacity: 1}	
}
@keyframes fade {
	from{opacity:.4}
	to{opacity: 1}	
}
